/*@media only print { #print_current_investigation { width: auto; height: auto; overflow: visible; } }*/
/*#print_current_investigation{ height:200px;overflow:auto;}
@media print{ #print_current_investigation{ height:100%;overflow:visible;} } */